<ion-view title="Teams" ng-controller ="TeamsCtrl as vm">
  <ion-content class="has-header">

<ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="vm.loadList(true)">
</ion-refresher>

  <div class="list">
<!-- use 2 ng-repeat for teams within divisions -->
    <div ng-repeat="division in vm.teams">
  <!-- heading for each division using item-divider class-->
      <div class="item item-divider item-energized">
        {{division.divisionName}}
      </div>

      <a href="#/app/teams/{{team.id}}" ng-repeat="team in division.divisionTeams"
      class="item item-icon-right">
        {{team.name}}
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    </div>
  </div>
  </ion-content>
</ion-view>
