<ion-view ng-controller="TeamDetailCtrl as vm" title="{{vm.teamName}}">
  <ion-content class="has-header">
<!-- Following Checkbox -->
    <!-- <div class="item item-checkbox ">
        <h2>{{vm.following ? "Following" : "Not Following"}}</h2>
        <label class="checkbox checkbox-energized">
            <input type="checkbox" ng-model="vm.following">
        </label>
    </div> -->

<!-- Following toggle -->
      <!-- <div class="item item-toggle">
          <h2>{{vm.following ? "Following" : "Not Following"}}</h2>
          <label class="toggle toggle-energized">
              <input type="checkbox" ng-model="vm.following">
              <div class="track">
                  <div class="handle"></div>
              </div>
          </label>
      </div> -->

<!-- OR just use ion-toggle-->
      <!-- <ion-toggle ng-model="toggle" toggle-class="toggle-calm">{{toggle?"Yes":"N o"}}</ion-toggle> -->

    <div class="card">
      <div class="item item-button-right">
        <h2>Record: {{vm.teamStanding.wins}}-{{vm.teamStanding.losses}} </h2>

        <button class="button button-positive icon-left" ng-click="vm.toggleFollow()"
            ng-class="{'ion-checkmark-round': vm.following, 'ion-plus-round button-outline': !vm.following }">
            {{vm.following ? "Following" : "Not Following"}}
        </button>
      </div>
    </div>

    <div class="list">
      <!-- app.game is from .state('app.game', { url: "/game/:id", and {id: game.id} is for :id-->
      <a ui-sref="app.game({id:game.gameId})" ng-repeat="game in vm.games"
      class="item item-icon-right">
      <div class="row">
        <div class="col-20">
          <p>{{game.time | date:'M/d/yy'}}</p>
          <p>{{game.time | date:'shortTime'}}</p>
        </div>

        <div class="col col-center">
          <h3>{{game.homeAway}} {{game.opponent}} </h3>
          <p>{{game.location}}</p>
        </div>

        <div class="col-20 col-center">
          <h4 class="positive">{{game.scoreDisplay}}</h4>
        </div>
      </div>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </a>
  </div>
</ion-content>
</ion-view>
